.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 5px 10px 0 #1e232d4f;
  background-color: white;
}
.navbar h1 {
  margin: 0;
  margin-right: 350px;
}
.navbar a {
  text-decoration: none;
  color: black;
  margin: 0 20px;
  font-size: 1rem;
}
.navbar a:hover {
  text-decoration: underline;
}
.navbar button {
  border: 1px solid #3527e8;
  padding: 10px 20px;
  color: #3527e8;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
}
.navbar button:hover {
  background-color: #3527e8;
  color: white;
}
footer {
  background-color: #1e232d;
  color: white;
  padding: 10px 0;
}
footer nav {
  margin-bottom: 4rem;
}
footer a {
  color: black;
  text-decoration: none;
  margin: 10px;
  color: white;
}
footer .copyright {
  text-align: center;
  margin-bottom: 2rem;
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #e9eeef;
  margin: 0;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.main-content {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.main-content .intro {
  width: 45%;
}
.main-content .intro h2 {
  color: #594eec;
}
.main-content .intro p {
  color: black;
}
.main-content .intro-img {
  width: 45%;
}
.main-content .intro-img img {
  border-radius: 5px;
  height: auto;
  width: 400px;
}
.how-it-works {
  background-color: #f4f7fb;
  padding: 50px 0;
}
.how-it-works .how-it-works-header {
  text-align: center;
}
.how-it-works .how-it-works-header h2 {
  font-size: 2rem;
  margin: 10px;
  font-weight: bold;
}
.how-it-works .how-it-works-header p {
  font-size: 1rem;
  margin: 5px;
}
.how-it-works .how-it-works-items {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.how-it-works .how-it-works-items .how-it-works-item {
  background-color: white;
  margin: 30px;
  width: 20%;
  text-align: center;
  border-radius: 5px;
  padding: 30px;
}
.how-it-works .how-it-works-items .how-it-works-item i {
  font-size: 4rem;
}
.how-it-works .how-it-works-items .how-it-works-item h3 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}
.how-it-works .how-it-works-items .how-it-works-item p {
  color: gray;
  margin-top: 0;
  margin-bottom: 30px;
}
.how-it-works .how-it-works-items .how-it-works-item button {
  border: 1px solid #594eec;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #594eec;
}
.testimonials {
  background-color: #1e232d;
  color: white;
}
.testimonials .testimonials-header {
  text-align: center;
  padding: 40px 0 30px;
}
.testimonials .testimonials-header h2 {
  font-size: 2rem;
  margin: 10px;
  font-weight: bold;
}
.testimonials .testimonials-header p {
  font-size: 1rem;
  margin: 5px;
}
.testimonials .customer-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.testimonials .customer-item .customer-item-img {
  width: 50%;
}
.testimonials .customer-item .customer-item-img img {
  width: 100%;
  height: auto;
}
.testimonials .customer-item .customer-item-feedback {
  width: 44%;
  text-align: center;
  margin-top: 50px;
  padding: 10px 30px 0;
}
.testimonials .customer-item .customer-item-feedback h3 {
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
}
.testimonials .customer-item .customer-item-feedback p {
  font-size: 1rem;
  line-height: 1.2rem;
}
.testimonials .customer-item .customer-item-feedback button {
  padding: 10px 20px;
  color: #3527e8;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
  margin-top: 10px;
}
.testimonials .customer-item .customer-item-feedback button:hover {
  background-color: #3527e8;
  color: white;
  border-color: #3527e8;
}
