.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 5px 10px 0 #1e232d4f;
  background-color: white;
}
.navbar h1 {
  margin: 0;
  margin-right: 350px;
}
.navbar a {
  text-decoration: none;
  color: black;
  margin: 0 20px;
  font-size: 1rem;
}
.navbar a:hover {
  text-decoration: underline;
}
.navbar button {
  border: 1px solid #3527e8;
  padding: 10px 20px;
  color: #3527e8;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
}
.navbar button:hover {
  background-color: #3527e8;
  color: white;
}
footer {
  background-color: #1e232d;
  color: white;
  padding: 10px 0;
}
footer nav {
  margin-left: 225px;
}
footer a {
  color: black;
  text-decoration: none;
  margin: 10px;
  color: white;
}
footer .copyright {
  text-align: center;
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #e9eeef;
  margin: 0;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.main-content {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.main-content .intro {
  width: 45%;
}
.main-content .intro h2 {
  color: #594eec;
}
.main-content .intro p {
  color: black;
}
.main-content .intro-img {
  width: 45%;
}
.main-content .intro-img img {
  border-radius: 5px;
  height: auto;
  width: 400px;
}
