@import "variables.less";
@import "mixins.less";
@import "navbar.less";
@import "main-content.less";
@import "features.less";
@import "how-it-works.less";
@import "testimonials.less";
@import "footer.less";
@import "about.less";

// Font for whole page
html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #e9eeef;
  margin: 0;
}

// Container
.container {
  width: 1000px;
  margin: 0 auto;
}
