@import "variables.less";
@import "mixins.less";
@import "navbar.less";
@import "footer.less";

// Font for whole page
html {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #e9eeef;
  margin: 0;
}

// Container
.container {
  max-width: 1000px;
  margin: 0 auto;
}

// Main Content

.main-content {
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  .top-content {
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 80vh;
    .intro {
      max-width: 400px;
      background: #e9eeef91;
      border-radius: 5px;
      color: #0b1a1e;
      padding: 20px;
    }
  }
  .features {
    display: flex;
    align-items: center;
    padding: 60px 0;
    background: #e9eeef;
    .features-text {
      width: 45%;
    }
    .carousel {
      width: 500px;
      margin: 0 auto;
    }
  }
}

// How It Works
.how-it-works {
  background-color: #f4f7fb;
  padding: 50px 0;

  .how-it-works-header {
    text-align: center;

    h2 {
      font-size: 2rem;
      margin: 10px;
      font-weight: bold;
    }

    p {
      font-size: 1rem;
      margin: 5px;
    }
  }

  .how-it-works-items {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .how-it-works-item {
      background-color: white;
      margin: 30px;
      width: 20%;
      text-align: center;
      border-radius: 5px;
      padding: 30px;

      i {
        font-size: 4rem;
      }

      h3 {
        font-size: 1.5rem;
        margin-top: 20px;
        margin-bottom: 10px;
      }

      p {
        color: gray;
        margin-top: 0;
        margin-bottom: 30px;
      }

      button {
        border: 1px solid #594eec;
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        background-color: #594eec;
      }
    }
  }
}

// Testimonials
.testimonials {
  background-color: #1e232d;
  color: white;

  .testimonials-header {
    text-align: center;
    padding: 40px 0 30px;

    h2 {
      font-size: 2rem;
      margin: 10px;
      font-weight: bold;
    }

    p {
      font-size: 1rem;
      margin: 5px;
    }
  }

  .customer-item {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    .customer-item-img {
      width: 50%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .customer-item-feedback {
      width: 44%;
      text-align: center;
      margin-top: 50px;
      padding: 10px 30px 0;

      h3 {
        width: 100%;
        font-weight: bold;
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.2rem;
      }

      button {
        padding: 10px 20px;
        color: #3527e8;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        background-color: white;
        margin-top: 10px;
      }

      button:hover {
        background-color: #3527e8;
        color: white;
        border-color: #3527e8;
      }
    }
  }
}
