// Navbar styles
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 5px 10px 0 #1e232d4f;
  background-color: white;

  h1 {
    margin: 0;
    margin-right: 350px;
  }

  a {
    text-decoration: none;
    color: black;
    margin: 0 20px;
    font-size: 1rem;
  }

  a:hover {
    text-decoration: underline;
  }

  button {
    border: 1px solid #3527e8;
    padding: 10px 20px;
    color: #3527e8;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    background-color: white;
  }

  button:hover {
    background-color: #3527e8;
    color: white;
  }
}
